@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

* {
    font-family: "Zen Maru Gothic", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column: 1fr 1fr;
    background-image: url("https://64.media.tumblr.com/tumblr_lnhv5u1MKs1qh5juxo1_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    top: 2%;
    position: fixed;
    font-size: 3em;
    color: rgb(47, 197, 247);
    text-shadow: darkblue 1px 1px 5px;
}

#backgrounds {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5%;
    top: 16%;
    background-color: rgb(47, 197, 247, .4);
    border-radius: 15px;
    padding: 5px;
}

#backgrounds img {
    width: 110px;
    height: 80px;
    margin: 5px 0 10px 15px;
    border: 2px solid white;
    justify-self: center;
}

#verticalHints,
#horizontalHints {
    color: white;
    display: flex;
    position: fixed;
    align-content: center;
    font-size: 20px;
    font-weight: 900;
    text-shadow: darkblue 2px 2px 4px;
    /* text-shadow: darkblue -2px -2px 3px; */
}

#horizontalHints {
    flex-direction: column;
    align-items: flex-end;
    right: 70%;
    bottom: 15%;
    height: 50vh;
    justify-content: space-around;
    word-spacing: 10px;
}

#verticalHints {
    bottom: 67%;
    left: 32%;
    width: 45vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

#verticalHints>div {
    width: 5px;
}

.square {
    background-color: rgb(222, 222, 222);
    border: 1px solid rgb(167, 167, 167);
    font-size: 20px;
}

#grid {
    position: fixed;
    width: 45vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    bottom: 15%;
    left: 32%;
}

#selector,
#lives {
    display: flex;
    position: fixed;
    width: 25%;
    height: 60px;
    border: 1px solid gray;
    background-color: rgb(225, 225, 225);
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    bottom: 5%;
    border-radius: 15px;
}

#selector {
    left: 10%;
}

#lives {
    right: 10%;
}

button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: rgb(225, 225, 225);
}

#fill,
#blank {
    width: 45px;
    height: 45px;
    border: 1px solid gray;
    align-content: center;
}

#fill {
    border: 3px solid rgb(8, 168, 8);
    background-color: rgb(58, 58, 58);
}

#lives>div {
    color: red;
}

#win {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 16%;
    min-width: 200px;
    max-height: 100px;
    padding: 5px;
    background-color: rgb(108, 187, 255);
    border: 3px solid rgb(8, 168, 8);
    border-radius: 15px;
}

#win button {
    border-radius: 15px;
}

aside {
    position: absolute;
    width: 20%;
    left: 5%;
    top: 22%;
    background-color: rgb(47, 197, 247, .75);
    border-radius: 15px;
    padding: 5px;
    visibility: hidden;
}

#demoButton, 
#tutorial {
    border-radius: 15px;
    min-width: 200px;
    max-height: 100px;
    padding: 5px;
}

#arrow {
    position: fixed;
    font-size: 70px;
    color: red;
    top: 550%;
    left: 220%;
    z-index: 1;
    /* visibility: hidden; */
}

@keyframes fadeSquare {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes fadeOut {
    0% {opacity: 100%;}
    50% {opacity: 80%;}
    100% {opacity: 0%;}
}